ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	overflow: hidden;
}
li{
	float: left;
}
li a{
	padding: 20px 15px;
	background-color: black;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: 'ABeeZee';
}
li a i{
	margin-right: 3px;
}
li a:hover{
	background-color: #222;
}